
[submodule "object_follow"]
	path = object_following
	url = https://github.com/hyunwoo4136/object_following.git
[submodule "motor_bringup"]
	path = mw_mdc24d200d_ctrl
	url = https://github.com/hyunwoo4136/mw_mdc24d200d_ctrl.git
[submodule "link_pos_ctrl"]
	path = dynamixel_pos_ctrl
	url = https://github.com/hyunwoo4136/dynamixel_pos_ctrl.git
[submodule "self_drive"]
	path = self_drive_in_furrow
	url = https://github.com/hyunwoo4136/self_drive_in_furrow.git
